*.egg-info
.DS_Store
build/
dist/
__pycache__/
.pytest_cache
*.py[oc]
wheels/
.python-version
.venv
.ipynb_checkpoints/
.coverage*
.mypy_cache
.vscode/
docs/source/_build/
docs/notebooks/figs/fourv2_freeze_results.pkl
docs/notebooks/figs/gc_freeze_results.pkl
docs/notebooks/figs/hres_freeze_results.pkl
docs/notebooks/figs/pang_freeze_results.pkl
docs/notebooks/figs/fourv2_heat_results.pkl
docs/notebooks/figs/gc_heat_results.pkl
docs/notebooks/figs/hres_heat_results.pkl
docs/notebooks/figs/pang_heat_results.pkl
