repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.2
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        exclude: ^(tests/.*|docs/.*|htmlcov/.*)
        args: [--enable-incomplete-feature=Unpack, --ignore-missing-imports]
        additional_dependencies:
          [tqdm-stubs, types-requests, types-ujson, types-pyyaml]
  - repo: local
    hooks:
      - id: validate-event-yamls
        name: Validating event YAMLs in data folder
        entry: python scripts/validate_events_yaml.py
        language: python
        files: src/extremeweatherbench/data/.*events\.yaml$
        additional_dependencies: [pyyaml]
